header {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.imageBckg {
background-image: url('./img/pexels-ingo-joseph-188035.jpg');
background-size: cover;
background-position: center;
height: 80vh;
}

.contactBckg {
    background-image: url('./img/pexels-marc-mueller-380769.jpg');
    background-size: cover;
    background-position: center;
    height: 35vh;
}

.bg-blue {
    background-color: #182D65;
}

.bg-nav {
    background-color: #182D65;
}

.nav-link.active {
    font-weight: 500;
    text-decoration: underline;
}